<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Customer List</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/logo.png"/>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/}" href="/">
            <img src="images/logo.png" class="d-inline-block align-top" alt=""><span class="mt-5"></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/locations}" href="/locations">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}" href="/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/customers}" href="/customers">Customers</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" placeholder="Search" type="text">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="row mt-5">
        <div class="col">
            <h1>
                <span>Customer List</span>
                <a href="customers/new" class="btn btn-success float-right mt-2" role="button">
                    <span class="fa fa-plus"></span>
                    <span>Create a new Customer</span>
                </a>
            </h1>

            <div th:if="${message}" th:text="${message}" th:class="${error}? 'alert alert-danger' : 'alert alert-success'"
                 class="alert alert-success" role="alert">
                Customer 1 saved
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">email Address</th>
                    <th scope="col" class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <th scope="row" th:text="${customer.id}">1</th>
                    <td th:text="${customer.firstName}">Homer</td>
                    <td th:text="${customer.lastName}">Simpson</td>
                    <td th:text="${customer.emailAddress}">foo@bar.com</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <a href="customers" th:href="@{/customers/{categoryId}(categoryId=${customer.id})}" class="btn btn-primary btn-sm" role="button">
                                <span class="fa fa-pen"></span>
                                <span class="d-none d-md-inline">Edit</span>
                            </a>
                            <a href="customers" th:href="@{/customers/delete/{categoryId}(categoryId=${customer.id})}" class="btn btn-danger btn-sm" role="button">
                                <span class="fa fa-trash-alt"></span>
                                <span class="d-none d-md-inline">Delete</span>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr class="my-2 mt-5">
    <div class="row">
        <p class="font-weight-lighter ml-3">&copy;
            <span th:text="${#calendars.format(#calendars.createNow(), 'yyyy')}">2019</span>
            by Columbus State Federal Credit Union. All rights reserved.
        </p>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>